<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.JS Example</title>
</head>
<body>
    <div id="app">
        <p>{{ message }}</p>
        <p>{{ reversedMessage }}</p>
        <input v-model="message">
    </div>

    <div id="app1">
        <p>Mensagem atual: {{ message }}</p>
        <input v-model="message">
        <p>Status: {{ status }}</p>
    </div>

    <div id="app2">
        <p>{{ fullName }}</p>
        <input v-model="firstName" placeholder="First Name">
        <input v-model="lastName" placeholder="Last Name">
        <p>{{ apiResponse }}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="script.js"></script>
</body>
</html>